/* Base Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
	background-color: #fafafa;
}

img {
    width: 100%;
}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:link, 
a:visited {
	color: black;
}

.main-nav ul {
    list-style-type: none;
    padding: 0 10px;
}

.main-nav li {
	background-color: white;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9rem;
	margin-bottom: 3px;
}

.intro-profile-pic {
	max-width: 65%;
	margin: 0 auto;
}

.intro-paragraph {
	padding: 0 15px;
}

.portfolio {
	background-color: white;
	padding: 0 15px 40px;
}

.portfolio h2 {
	font-size: .8rem;
	padding: 35px 0 25px 0;
}

.contact {
	padding: 0 15px 45px;
}

.contact h2 {
	font-size: .8rem;
	padding: 35px 0 25px 0;
}

.contact a {
	font-weight: bold;
	margin-left: 6px;
}

.main-footer {
	padding: 0 15px 20px;
}

.footer-nav {
    display: none;
}

.main-footer h3 {
    float: left;
	margin-top: 1.2rem;
}

.footer-nav,
.top-button {
    float: right;
	margin-top: 1.2rem;
}

.top-button {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
}

/* Media Queries */

@media (min-width: 769px ) {
    
    .main-nav li,
    .main-footer h3,
    .footer-nav {
        display: inline-block;
		background-color: #fafafa;
    }
	
	.main-nav li {
		padding: 0 15px;
		font-weight: bold;
	}
	
	.intro {
		padding: 20px;
	}
    
    .intro-profile-pic {
        float: right;
		width: 40%;
		padding: 10px;
    }
    
    .intro-paragraph {
        float: left;
		width: 60%;
		text-align: left;
    }
	
	.portfolio-container {
		font-size: 0;
	}
	
	.portfolio-brief {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		font-size: 1rem;
		padding: 5px;
	}
	
	.portfolio-text {
		padding: 0 50px;
	}
	
	.contact {
		max-width: 70%;
		margin: 0 auto;	
	}
    
    .footer-nav li {
        display: inline-block;
		padding: 0 15px;
		font-weight: bold;
		text-transform: uppercase;
    }
    
    .top-button {
        display: none;
    }
}

@media (min-width: 1025px ) {
    
    .main-nav li,
    .main-header h1 {
        display: inline-block;
        margin: 25px 5px;
    }
    
    .main-header h1 {
        float: left;
		padding-left: 10px;
    }
    
    .main-nav {
        float: right;
    }
	
	.intro-paragraph {
		padding: 0 20px 0 0;
	}
	
	.portfolio-brief {
		width: 33.33333%;
	}
	
	.portfolio-text {
		padding: 0 15px;
	}
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}






